# Config to synchronize text editor settings.
# For VS Code, we also duplicate them in .vscode/settings.json.

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
