"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-objective-c"
      "archive-view"
      "autosave"
      "bookmarks"
      "language-clojure"
      "language-perl"
      "language-php"
      "language-toml"
      "snippets"
      "welcome"
      "spell-check"
      "deprecation-cop"
      "timecop"
      "styleguide"
    ]
    projectHome: "/home/ai/Dev"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Fira Code Retina"
    fontSize: 17
    invisibles: {}
    nonWordCharacters: "^*\"`'/|\\?!;:,.%#@(){}[]<>=+-~_"
    showIndentGuide: true
    softWrap: true
    tabLength: 2
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "51ccaaae-04bc-1ed3-3445-f9bd1a2f3a71"
  "markdown-preview":
    breakOnSingleNewline: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".attribute-values.js.jsx.source":
  editor:
    nonWordCharacters: "^*\"`'/|\\?!;:,.%#@(){}[]<>=+-~_"
".css.source":
  editor:
    tabLength: 4
".html.source":
  editor:
    tabLength: 4
".js.jsx.react.source":
  editor:
    nonWordCharacters: "^*\"`'/|\\?!;:,.%#@(){}[]<>=+-~_"
".js.jsx.source":
  editor:
    nonWordCharacters: "^*\"`'/|\\?!;:,.%#@(){}[]<>=+-~_"
".js.source":
  editor:
    tabLength: 4
".js.source.subtlegradient":
  editor:
    nonWordCharacters: "^*\"`'/|\\?!;:,.%#@(){}[]<>=+-~_"
