"*":
  "atom-material-ui":
    colors:
      abaseColor: "#ec407a"
      accentColor: "#46ffc1"
      paintCursor: true
      predefinedColor: "Pink"
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.json": [
        ".yaspellerrc"
        ".stylelintrc"
        ".eslintrc"
      ]
    disabledPackages: [
      "language-objective-c"
      "archive-view"
      "autosave"
      "bookmarks"
      "language-clojure"
      "language-perl"
      "language-php"
      "language-toml"
      "snippets"
      "welcome"
      "spell-check"
      "deprecation-cop"
      "timecop"
      "styleguide"
    ]
    projectHome: "/home/ai/Dev"
    themes: [
      "atom-material-ui"
      "atom-panda-syntax"
    ]
  editor:
    fontFamily: "Fira Code Retina"
    fontSize: 18
    invisibles: {}
    nonWordCharacters: "^*\"`'/|\\?!;:,.%#@(){}[]<>=+-~_"
    showIndentGuide: true
    softWrap: true
    tabLength: 2
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "51ccaaae-04bc-1ed3-3445-f9bd1a2f3a71"
  linter:
    lintOnChange: false
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 222
    showDecorations: false
    showPanel: true
  minimap:
    displayPluginsControls: false
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "tree-view": {}
  welcome:
    showOnStartup: false
".pug.source":
  editor:
    nonWordCharacters: "^*\"`'/|\\?!;:,.%#@(){}[]<>=+-~_"
