atom-text-editor {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: "liga" on, "calt" on;
}
atom-text-editor::shadow .vertical-scrollbar {
  width: 0 !important;
}
