[Desktop Entry]
Type=Application
Name=Atom
Comment=Текстовый редактор
Icon=atom
Exec=atom %U
Categories=TextEditor;Development;
MimeType=text/plain;
NoDisplay=true
