[Desktop Entry]
Type=Application
Name=Copia de seguridad
Comment=Backup
Icon=/home/ai/.local/share/applications/backup.svg
Exec=flatpak run app.devsuite.Ptyxis -- /home/ai/Dev/environment/bin/backup
