[Desktop Entry]
Name=Yubico 2FA
Comment=Graphical interface for displaying OATH codes with a YubiKey.
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=yubioath-desktop com.yubico.yubioath
Icon=com.yubico.yubioath
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;
Keywords=Yubico;Authenticator;
X-Flatpak=com.yubico.yubioath
