[Desktop Entry]
Name=Настройки
Icon=org.gnome.Settings
Exec=gnome-control-center
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=shell
X-GNOME-Bugzilla-Version=40.0
Keywords=Preferences;Settings;
X-Purism-FormFactor=Workstation;Mobile;
NoDisplay=true
