[Desktop Entry]
Name=OpenJDK 8 Policy Tool 1.8.0.172-9.b11.fc28.x86_64
Comment=Manage OpenJDK policy files 1.8.0.172-9.b11.fc28.x86_64
Exec=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.172-9.b11.fc28.x86_64/jre/bin/policytool
Icon=java-1.8.0
Terminal=false
Type=Application
StartupWMClass=sun-security-tools-PolicyTool
Categories=Settings;Java;
Version=1.0
X-Desktop-File-Install-Version=0.23
NoDisplay=true
