[Desktop Entry]
Type=Application
Name=Disk Usage
Comment=Check folder sizes and available disk space
Icon=org.gnome.baobab
Exec=baobab
Categories=GTK;GNOME;System;Filesystem;X-GNOME-Utilities;
MimeType=inode/directory;
