[Desktop Entry]
Type=Application
Name=Редактор
Comment=Редактор текстовых файлов
Icon=org.gnome.gedit
Exec=gedit %U
MimeType=text/plain;
Categories=GNOME;GTK;Utility;TextEditor;
DBusActivatable=true
Actions=new-window;new-document;

[Desktop Action new-window]
Name=Создать окно
Exec=gedit --new-window

[Desktop Action new-document]
Name=Создать документ
Exec=gedit --new-document
