[Desktop Entry]
Type=Application
Name=Пароли и ключи
Comment=Управление паролями и ключами шифрования
Icon=org.gnome.seahorse.Application
Exec=seahorse
