[Desktop Entry]
Type=Application
Name=Totem
Comment=Воспроизведение фильмов
Icon=org.gnome.Totem
Exec=totem %U
Categories=GTK;GNOME;AudioVideo;Player;Video;
NoDisplay=true
