[Desktop Entry]
Type=Application
Name=Расширения
Icon=org.gnome.Extensions
Comment=Configure GNOME Shell Extensions
Exec=/usr/bin/gnome-extensions-app
DBusActivatable=true
Categories=GNOME;GTK;Utility;
OnlyShowIn=GNOME;
NoDisplay=true
