[Desktop Entry]
Type=Application
Name=Тюнинг
Comment=Настройка дополнительных параметров GNOME 3
Icon=gnome-tweak-tool
Exec=gnome-tweaks
Categories=GNOME;GTK;Utility;
