[Desktop Entry]
Type=Application
Name=Weather
Icon=org.gnome.Weather
Exec=gapplication launch org.gnome.Weather
Categories=GNOME;GTK;Utility;Core;
Keywords=Погода;Прогноз;
Keywords=Weather;Forecast;
X-Geoclue-Reason=Allows weather information to be displayed for your location.
NoDisplay=true
