[Desktop Entry]
Categories=GNOME;GTK;Utility;TextEditor;
DBusActivatable=true
Exec=gnome-text-editor %U
MimeType=text/plain;
Name=Текстовый редактор
GenericName=Текстовый редактор
Comment=Просмотр и редактирование текстовых файлов
Icon=org.gnome.TextEditor
StartupNotify=true
Terminal=false
Type=Application
X-Flatpak-RenamedFrom=gnome-text-editor
NoDisplay=true

