[Desktop Entry]
Name=Часы
Comment=Часы мирового времени, а также будильник, секундомер и таймер
Keywords=время;таймер;будильник;мировое время;часовой пояс;
Icon=org.gnome.clocks
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Clock;
NoDisplay=true
