[Desktop Entry]
Type=Application
Name=Редактор
Comment=Редактор текстовых файлов
Exec=gedit %U
Terminal=false
StartupNotify=true
MimeType=text/plain;
Icon=gedit
Categories=GNOME;GTK;Utility;TextEditor;
Actions=new-window;new-document;
Keywords=Текст;Редактор;Запись;Текстовый;
DBusActivatable=true

[Desktop Action new-window]
Name=Создать окно
Exec=gedit --new-window

[Desktop Action new-document]
Name=Создать документ
Exec=gedit --new-document
