[Desktop Entry]
Type=Application
Name=Fonts
Icon=preferences-desktop-font
Exec=gnome-font-viewer %u
Categories=GTK;GNOME;Utility;X-GNOME-Utilities;
MimeType=application/x-font-ttf;application/x-font-pcf;application/x-font-type1;application/x-font-otf;
NoDisplay=true
