[Desktop Entry]
Type=Application
Name=Календарь
Comment=Доступ и управление календарями
Icon=org.gnome.Calendar
Exec=gnome-calendar
Categories=GNOME;GTK;Office;Calendar;Core;
Keywords=Календарь;Событие;Напоминание;
DBusActivatable=true
NoDisplay=true
