[Desktop Entry]
Type=Application
Name=Личная папка
Comment=Decrypt safe storage
Icon=/home/ai/.local/share/applications/private.svg
Exec=/home/ai/Dev/environment/bin/private
