[Desktop Entry]
Type=Application
Exec=/usr/local/bin/projecteur
Name=Projecteur
GenericName=Linux/X11 application for the Logitech Spotlight device.
Icon=projecteur
Terminal=false
Categories=Office;Presentation;
Actions=Settings;Quit;

[Desktop Action Settings]
Name=Settings
Exec=/usr/local/bin/projecteur -c settings=show

[Desktop Action Quit]
Name=Switch Off
Exec=/usr/local/bin/projecteur -c quit