[Desktop Entry]
Type=Application
Name=ТимСпик
Comment=Конференции
Icon=teamspeak
Exec=/usr/local/share/teamspeak/ts3client_runscript.sh
Categories=Network;
