[Desktop Entry]
Type=Application
Name=Обновление системы
Comment=Update RPM, Flatpak, and Mozilla Theme
Icon=org.fedoraproject.AnacondaInstaller
Exec=kgx -- /bin/zsh -c "/home/ai/Dev/environment/bin/update;$SHELL"
