[Desktop Entry]
Name=Zoom
Comment=Zoom Video Conferencing
GenericName=Zoom Client for Linux
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=zoom --file-forwarding us.zoom.Zoom @@u %U @@
Icon=us.zoom.Zoom
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/zoommtg;
X-Flatpak=us.zoom.Zoom
