[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=transmission-gtk %u
Name=transmission-gtk
Comment=Особое определение для transmission-gtk
