[Desktop Entry]
Type=Application
Name=Справка
Comment=Получение справки в среде GNOME
Icon=help-browser
Exec=yelp %u
Categories=GNOME;GTK;Core;Documentation;Utility;
MimeType=x-scheme-handler/ghelp;x-scheme-handler/help;x-scheme-handler/info;x-scheme-handler/man;
NoDisplay=true
