[Desktop Entry]
Name=Help
Comment=Get help with GNOME
Keywords=documentation;information;manual;help;
OnlyShowIn=GNOME;Unity;
Exec=yelp %u
Icon=org.gnome.Yelp
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Documentation;Utility;
MimeType=x-scheme-handler/ghelp;x-scheme-handler/help;x-scheme-handler/info;x-scheme-handler/man;
NoDisplay=true