[Desktop Entry]
Type=Application
Name=Zed Dev Container
Icon=zed
Exec=/home/ai/Projects/environment/bin/zed-isolate %U
MimeType=inode/directory;
Categories=Utility;TextEditor;Development;IDE;
